<div class="slider" id="slider">
    <div class="slider-item" name="slider-item">
        <img src="https://cf.shopee.vn/file/ba3ec5b685edd7800bbe8c37889464ce" width="100%" height="400" alt="">
    </div>
    <div class="slider-item" name="slider-item">
        <img src="https://cf.shopee.vn/file/3310b6565ed646a2d65559f55fee15ed" width="100%" height="400" alt="">
    </div>
    <div class="slider-item" name="slider-item">
        <img src="https://cf.shopee.vn/file/82b8118bc95f333c0aa43d9cc5424b9a" width="100%" height="400" alt="">
    </div>
    <div class="slider-item" name="slider-item">
        <img src="https://cf.shopee.vn/file/3310b6565ed646a2d65559f55fee15ed" width="100%" height="400" alt="">
    </div>
    <div class="slider-item" name="slider-item">
        <img src="https://cf.shopee.vn/file/ba3ec5b685edd7800bbe8c37889464ce" width="100%" height="400" alt="">
    </div>
    <div class="slider-item" name="slider-item">
        <img src="https://cf.shopee.vn/file/3310b6565ed646a2d65559f55fee15ed" width="100%" height="400" alt="">
    </div>
    <div class="nut-slider">
        <span onclick="onClickXemAnhTruoc()" id="btn-prev"> 
            <img alt="" th:src="@{/images/icons8_back_to_40px.png}">
		</span>
        <span onclick="onClickXemAnhSau()" id="btn-next">
            <img alt="" th:src="@{/images/icons8_next_page_40px.png}">
        </span>
    </div>
    <div id="khungChamTron"></div>
</div>