<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>[[#{lo.index.tmpk}]]</title>
    <link rel="shortcut icon" th:href="@{/images/logotrang.png}">
    <link rel="stylesheet" href="fonts/fontawesome-free-5.13.0-web/css/all.min.css">
    <script src="https://kit.fontawesome.com/a6063db324.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/insertSanPham.css}">
</head>

<body>
    <div class="main-insert-phukien">
        <div class="the-tieu-de-sanpham">
            <label>[[#{lo.index.ttpk}]]</label>
            <a th:href="@{/admin/quanlyphukien}">
                <i class="fas fa-times" style="color: red; font-size: 16px"></i>
            </a>
        </div>
        <form action="/admin/quanlysanpham/phukien/insert" method="post" th:object="${phukien}">
            <br/>
            <div class="them-sp-ndthaotac">
                <div class="them-sanpham-trai">
                    <label th:field="*{phukien_name}" class="the-ten-tm">[[#{lo.index.tenphukien}]]</label>
                    <br/>
                    <input th:field="*{phukien_name}" class="the-input-tm">
                    <br/>
                    <i th:errors="*{phukien_name}" style="color:red; margin-left: 30px; font-style: italic; position: absolute;  margin-top: 5px;"></i>
                    <br/>
                    <div class="selects-group-product">
                        <div class="select-group">
                            <label th:field="*{chatlieu}">[[#{lo.index.clpk}]]</label>
                            <select th:field="*{chatlieu}">
                                <option value=""> [[#{lo.index.chon}]] </option>
                                <option th:each="item : ${chatlieupk}"
                                   th:value="${item.getChatlieu_id()}"
                                   th:utext="${item.getChatlieu_name()}"></option>
                            </select>
                        </div>
                        <div class="select-group">
                            <label th:field="*{loaip}">[[#{lo.index.loaiphukien}]]</label>
                            <select th:field="*{loaip}">
                                <option value=""> [[#{lo.index.chon}]] </option>
                                <option th:each="item : ${loaipk}"
                                   th:value="${item.getLoaip_id()}"
                                   th:utext="${item.getLoaip_name()}"></option>
                            </select>
                        </div>
                        <div class="select-group">
                            <label th:field="*{mausac}">[[#{lo.index.mau}]]</label>
                            <select th:field="*{mausac}">
                                <option value=""> [[#{lo.index.chon}]] </option>
                                <option th:each="item : ${mausacpk}"
                                   th:value="${item.getMausac_id()}"
                                   th:utext="${item.getMausac_name()}"></option>
                            </select>
                        </div>
                        <div class="select-group">
                            <br>
                            <label th:field="*{tuongthich}">[[#{lo.index.sptth}]]</label>
                            <select th:field="*{tuongthich}">
                                <option value=""> [[#{lo.index.chon}]] </option>
                                <option th:each="item : ${tuongthichpk}"
                                   th:value="${item.getTuongthich_id()}"
                                   th:utext="${item.getTuongthich_name()}"></option>
                            </select>
                        </div>
                        <div class="select-group">
                            <br>
                            <label th:field="*{thoigianbaohanh}">[[#{lo.index.thoigianbaohanh}]]</label>
                            <select th:field="*{thoigianbaohanh}">
                                <option value=""> [[#{lo.index.chon}]] </option>
                                <option th:each="item : ${thoigianbaohanhpk}"
                                   th:value="${item.getThoigianbaohanh_id()}"
                                   th:utext="${item.getThoigianbaohanh_name()}"></option>
                            </select>
                        </div>
                        <div class="select-group">
                            <br>
                            <label th:field="*{thuonghieu}">[[#{lo.index.tenthuonghieu}]]</label>
                            <select th:field="*{thuonghieu}">
                                <option value=""> [[#{lo.index.chon}]] </option>
                                <option th:each="item : ${thuonghieupk}"
                                   th:value="${item.getThuonghieu_id()}"
                                   th:utext="${item.getThuonghieu_name()}"></option>
                            </select>
                        </div>
                        <div class="select-group">
                            <br>
                            <label th:field="*{xuatxu}">[[#{lo.index.noixuatxu}]]</label>
                            <select th:field="*{xuatxu}">
                                <option value=""> [[#{lo.index.chon}]] </option>
                                <option th:each="item : ${xuatxupk}"
                                   th:value="${item.getXuatxu_id()}"
                                   th:utext="${item.getXuatxu_name()}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="thong-tin-tm-3">
                        <div class="tm-tt1">
                            <label th:field="*{phukien_giaban}" class="the-ten-tm-3">[[#{lo.index.giaban}]]</label>
                            <br/>
                            <input type="number" th:field="*{phukien_giaban}" class="the-input-tm-3-1">
                            <i th:errors="*{phukien_giaban}" style="color:red; margin-left: 5px; font-style: italic; position: absolute;  margin-top: 5px;"></i>
                        </div>
                        <input type="hidden" th:field="*{phukien_id}" class="the-input-tm-3-1">
                        <div class="tm-tt1">
                            <label th:field="*{phukien_namsx}" class="the-ten-tm-3">[[#{lo.index.namsx}]]</label>
                            <br/>
                            <input type="number" th:field="*{phukien_namsx}" class="the-input-tm-3-11">
                            <i th:errors="*{phukien_namsx}" style="color:red; margin-left: 5px; font-style: italic; position: absolute;  margin-top: 5px;"></i>
                        </div>
                    </div>
                    <br/>
                </div>
                <div class="them-sanpham-phai">
                    <div class="tm-anh-1">
                        <label th:field="*{phukien_anh1}" class="the-ten-tm-anh">[[#{lo.index.linkanh}]] 1</label>
                        <br/>
                        <input th:field="*{phukien_anh1}" class="the-input-tm-anh">
                        <br/>
                        <i th:errors="*{phukien_anh1}" style="color:red; margin-left: 10px; font-style: italic; position: absolute;  margin-top: 5px;"></i>
                        <br/>
                        <br/>
                        <label th:field="*{phukien_anh2}" class="the-ten-tm-anh">[[#{lo.index.linkanh}]] 2</label>
                        <br/>
                        <input th:field="*{phukien_anh2}" class="the-input-tm-anh">
                        <br/>
                        <i th:errors="*{phukien_anh2}" style="color:red; margin-left: 10px; font-style: italic; position: absolute;  margin-top: 5px;"></i>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="them-sp-ndthaotac rut-xuong">
                <div class="mota-1">
                    <label th:field="*{phukien_tinhnang1}" class="the-ten-tm">[[#{lo.index.tinhnangpk}]] 1</label>
                    <br/>
                    <textarea th:field="*{phukien_tinhnang1}" class="noidung-mota" cols="30" rows="5"></textarea>
                    <br/>
                    <i th:errors="*{phukien_tinhnang1}" style="color:red; margin-left: 35px; font-style: italic; position: absolute;  margin-top: 5px;"></i>
                </div>
                <div class="lienhe-1">
                    <label th:field="*{phukien_tinhnang2}" class="the-ten-tm">[[#{lo.index.tinhnangpk}]] 2</label>
                    <br/>
                    <textarea th:field="*{phukien_tinhnang2}" class="noidung-lienhe" cols="30" rows="5"></textarea>
                    <br/>
                    <i th:errors="*{phukien_tinhnang2}" style="color:red; margin-left: 75px; font-style: italic; position: absolute;  margin-top: 5px;"></i>
                    <br/>
                </div>
            </div>
            <div class="thao-tac">
                <input type="submit" th:value="#{lo.index.themmoi}">
            </div>
            <br/>
        </form>

    </div>
</body>

</html>