<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="~{layout::dynamic(~{::title},~{::body})}">

<head>
    <title>[[#{lo.index.chitietpk}]] | ShopSale</title>
</head>

<body>
    <div class="main">
        <div class="sanPham1" style="width: 1180px; min-height: 700px; margin: 0 auto;">
            <div class="khungphan-sanpham1" style="width: 1180px; min-height: 700px; margin-top: 20px">
                <div class="card">
                    <div class="row">
                        <aside class="col-sm-5">
                            <article class="gallery-wrap">
                                <div class="img-big-wrap">
                                    <div style="margin-top: 100px">
                                        <div class="slider" id="slider1" style="width: 450px; height: 800px; border: none;">
                                            <div class="slider-item" name="slider-item">
                                                <img th:src="${chitiet.getPhukien_anh1()}" width="400px" />
                                            </div>
                                            <div class="slider-item" name="slider-item">
                                                <img th:src="${chitiet.getPhukien_anh2()}" width="400px" />
                                            </div>
                                            <div class="nut-slider">
                                                <span onclick="onClickXemAnhTruoc()" id="btn-prev"> 
                                                    <img alt="" th:src="@{/images/icons8_back_to_40px.png}">
												</span>
                                                <span onclick="onClickXemAnhSau()" id="btn-next">
                                                    <img alt="" th:src="@{/images/icons8_next_page_40px.png}"></span>
                                            </div>
                                            <div id="khungChamTron"></div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </aside>
                        <aside class="col-sm-7">
                            <article class="card-body p-5">
                                <h3 class="title mb-3" style="text-align: center;">[[${chitiet.getPhukien_name()}]]</h3>

                                <p class="price-detail-wrap" style="text-align: center; color: blue;">
                                    <span class="price h3"> 
                                        <span class="num">[[${#numbers.formatDecimal(chitiet.getPhukien_giaban(), 0, 'COMMA', 0, 'POINT')}]] đồng</span>
                                    </span>
                                </p>
                                <!--  HIỂN THỊ NỘI DUNG SẢN PHẨM -->
                                <dl class="item-property">
                                    <dt>[[#{lo.index.chitietpk}]]:</dt>
                                    <div class="thechitietdtpk">
                                        <div class="noidungchitietdtpk">
                                            <p>[[#{lo.index.noixuatxu}]]</p>
                                            <p>[[#{lo.index.loaiphukien}]]</p>
                                            <p>[[#{lo.index.mspkpk}]]</p>
                                            <p>[[#{lo.index.clpkpk}]]</p>
                                            <p>[[#{lo.index.thoigianbaohanh}]]</p>
                                            <p>[[#{lo.index.thpk}]]</p>
                                            <p>[[#{lo.index.namxpk}]]</p>
                                            <p>[[#{lo.index.tensptuongthich}]]</p>
                                        </div>
                                        <div class="ketquanoidungchitietdtpk">
                                            <p>[[${chitiet.getXuatxu().getXuatxu_name()}]]</p>
                                            <p>[[${chitiet.getLoaip().getLoaip_name()}]]</p>
                                            <p>[[${chitiet.getMausac().getMausac_name()}]]</p>
                                            <p>[[${chitiet.getChatlieu().getChatlieu_name()}]]</p>
                                            <p>[[${chitiet.getThoigianbaohanh().getThoigianbaohanh_name()}]]</p>
                                            <p>[[${chitiet.getThuonghieu().getThuonghieu_name()}]]</p>
                                            <p>[[${chitiet.getPhukien_namsx()}]]</p>
                                            <p>[[${chitiet.getTuongthich().getTuongthich_name()}]]</p>
                                        </div>
                                    </div>

                                </dl>
                                <!-- price-detail-wrap .// -->
                                <hr>
                                <a onclick="thongBaoThanhCong(event)" th:href="@{'/home/giohang/themsanpham/'+${chitiet.getPhukien_id()}}" class="btn btn-lg btn-primary text-uppercase" style="margin-left: 150px; background-color: var(--primary-color)">[[#{lo.index.thegio}]]</a>
                                <hr>
                                <a style="margin-left: 225px; font-size: 16px; color: blue;">[[#{lo.index.chiase}]]</a>
                                <div class="chiase" style="width: 500px; height: 60px; margin-top: 20px;">
                                    <button id="twitter" class="btn btn-info btn-social btn-twitter btn-round btn-fill btn-wd" style="margin-left: 220px">
										<i class="fa fa-twitter" aria-hidden="true"></i>
									</button>
                                    <button id="facebook" class="btn btn-info btn-social btn-facebook btn-round btn-fill btn-wd" style="margin-left: 10px">
										<i class="fa fa-facebook-square" aria-hidden="true"></i>
									</button>
                                </div>
                            </article>
                        </aside>
                        <h3 style="text-align: center; color: rgb(254,100,51); font-weight: bold;">[[#{lo.index.ttct}]]</h3>
                        <div class="the-div-chitiet-phukien">
                            <img th:src="${chitiet.getPhukien_anh1()}" width="650px" height="450px" alt="">
                            <br>
                            <p>[[${chitiet.getPhukien_tinhnang1()}]]</p>
                            <br>
                        </div>
                        <br>
                        <div class="the-div-chitiet-phukien">
                            <img th:src="${chitiet.getPhukien_anh2()}" width="650px" height="450px" alt="">
                            <br>
                            <p>[[${chitiet.getPhukien_tinhnang2()}]]</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>