<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="~{layout::dynamic(~{::title},~{::body})}">

<head>
    <title>[[#{lo.index.chitietsp}]] | ShopSale</title>
</head>

<body>
    <div class="main">
        <div class="sanPham1" style="width: 1180px; min-height: 700px; margin: 0 auto;">
            <div class="khungphan-sanpham1" style="width: 1180px; min-height: 700px; margin-top: 20px">
                <div class="card">
                    <div class="row">
                        <aside class="col-sm-5">
                            <article class="gallery-wrap">
                                <div class="img-big-wrap">
                                    <div style="margin-top: 100px">
                                        <div class="slider" id="slider1" style="width: 450px; height: 800px; border: none;">
                                            <div class="slider-item" name="slider-item">
                                                <img th:src="${product.getSanpham_anh1()}" width="400px" />
                                            </div>
                                            <div class="slider-item" name="slider-item">
                                                <img t:src="${product.getSanpham_anh2()}" width="400px" />
                                            </div>
                                            <div class="nut-slider">
                                                <span onclick="onClickXemAnhTruoc()" id="btn-prev"> 
                                                    <img alt="" th:src="@{/images/icons8_back_to_40px.png}">
												</span>
                                                <span onclick="onClickXemAnhSau()" id="btn-next">
                                                    <img alt="" th:src="@{/images/icons8_next_page_40px.png}"></span>
                                            </div>
                                            <div id="khungChamTron"></div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </aside>
                        <aside class="col-sm-7">
                            <article class="card-body p-5">
                                <h3 class="title mb-3" style="text-align: center;">[[${product.getSanpham_name()}]]</h3>

                                <p class="price-detail-wrap" style="text-align: center; color: blue;">
                                    <span class="price h3"> 
                                        <span class="num">[[${#numbers.formatDecimal(product.getSanpham_giaban(), 0, 'COMMA', 0, 'POINT')}]] đồng</span>
                                    </span>
                                </p>
                                <!--  HIỂN THỊ NỘI DUNG SẢN PHẨM -->
                                <dl class="item-property">
                                    <dt>[[#{lo.index.chitietsp}]]:</dt>
                                    <div class="thechitietdt">
                                        <div class="noidungchitietdt">
                                            <p>[[#{lo.index.loai}]]</p>
                                            <p>[[#{lo.index.hang}]]</p>
                                            <p>[[#{lo.index.mau}]]</p>
                                            <p>[[#{lo.index.ram}]]</p>
                                            <p>[[#{lo.index.chip}]]</p>
                                            <p>[[#{lo.index.manhinh}]]</p>
                                            <p>[[#{lo.index.bonho}]]</p>
                                        </div>
                                        <div class="ketquanoidungchitietdt">
                                            <p>[[${product.getLoai().getLoai_name()}]]</p>
                                            <p>[[${product.getHang().getHang_name()}]]</p>
                                            <p>[[${product.getMausac().getMausac_name()}]]</p>
                                            <p>[[${product.getRam().getRam_name()}]]</p>
                                            <p>[[${product.getChip().getChip_name()}]]</p>
                                            <p>[[${product.getManhinh().getManhinh_name()}]]</p>
                                            <p>[[${product.getBonho().getBonho_name()}]]</p>
                                        </div>
                                    </div>

                                </dl>
                                <!-- price-detail-wrap .// -->
                                <dl class="item-property">
                                    <dt>[[#{lo.index.mota}]]</dt>
                                    <dd>
                                        <p style="text-align: justify;">[[${product.getSanpham_mota()}]]</p>
                                    </dd>
                                </dl>
                                <dl class="item-property">
                                    <dt>[[#{lo.index.lienhe}]]</dt>
                                    <dd>
                                        <p style="text-align: justify;">[[${product.getSanpham_lienhe()}]]</p>
                                    </dd>
                                </dl>
                                <hr>
                                <a onclick="thongBaoThanhCong(event)" th:href="@{'/home/giohang/themsanpham/'+${product.getSanpham_id()}}" class="btn btn-lg btn-primary text-uppercase" style="margin-left: 150px; background-color: var(--primary-color)">[[#{lo.index.thegio}]]</a>
                                <hr>
                                <a style="margin-left: 225px; font-size: 16px; color: blue;">[[#{lo.index.chiase}]]</a>
                                <div class="chiase" style="width: 500px; height: 60px; margin-top: 20px;">
                                    <button id="twitter" class="btn btn-info btn-social btn-twitter btn-round btn-fill btn-wd" style="margin-left: 220px">
										<i class="fa fa-twitter" aria-hidden="true"></i>
									</button>
                                    <button id="facebook" class="btn btn-info btn-social btn-facebook btn-round btn-fill btn-wd" style="margin-left: 10px">
										<i class="fa fa-facebook-square" aria-hidden="true"></i>
									</button>
                                </div>
                            </article>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>