<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="~{layout::dynamic(~{::title},~{::body})}">

<head>
    <title>[[#{lo.index.hdmuahang1}]] | ShopSale</title>
</head>

<body>
    <div class="col-xs-12 col-sm-8" style="margin: 0 auto;">
        <div class="shop-cs-mainbox policy-title" data-catecomment="20" style="margin-top: 20px; font-size: 18px;">
            <h2 class="shop-cs-maintitle" style="color: rgb(249,80,48); text-align: center; font-weight: bold;">[[#{lo.index.hdmuahang1}]]</h2>
            <div class="policy-container">
                <p style="text-align: center;"><strong style="color: rgb(83, 7, 224);">[[#{lo.index.hdmuahang2}]]</strong></p>

                <div style="text-align: center;">
                    [[#{lo.index.hdmuahang3}]]<br> [[#{lo.index.hdmuahang4}]]<br> [[#{lo.index.hdmuahang5}]]
                </div>
                <br>
                <p style="text-align: justify; text-indent: 20px;"><strong style="color: rgb(249,80,48)">[[#{lo.index.buoc1}]] </strong>[[#{lo.index.hdmuahang6}]]</p>

                <img alt="Hướng dẫn mua hàng" class="polis-img" th:src="@{/images/anh1.png}">
                <br>
                <br>
                <p style="text-align: justify; text-indent: 20px;">
                    [[#{lo.index.hdmuahang7}]]
                </p>
                <img alt="Hướng dẫn mua hàng" class="polis-img" th:src="@{/images/anh1a.png}">
                <br>
                <p style="text-align: justify; text-indent: 20px;">
                    <strong style="color: rgb(249,80,48);">[[#{lo.index.buoc2}]] </strong>[[#{lo.index.hdmuahang8}]]
                </p>
                <br>
                <img alt="Hướng dẫn mua hàng" class="polis-img" th:src="@{/images/anh2.png}">
                <br>
                <br>
                <p style="text-align: justify; text-indent: 20px;">[[#{lo.index.hdmuahang9}]]</p>

                <img alt="Hướng dẫn mua hàng" class="polis-img" th:src="@{/images/anh3.png}">
                <br>
                <br>
                <p style="text-align: justify; text-indent: 20px;">
                    <strong style="color: rgb(249,80,48);">[[#{lo.index.buoc3}]] </strong>[[#{lo.index.hdmuahang10}]]
                </p>
                <br>
                <img alt="Hướng dẫn mua hàng" class="polis-img" th:src="@{/images/anh4.png}">
                <br>
                <br>
                <p style="text-align: justify; text-indent: 20px;">
                    [[#{lo.index.hdmuahang11}]]
                </p>
                <img alt="Hướng dẫn mua hàng" class="polis-img" th:src="@{/images/anh5.png}">
                <p style="text-align: justify; text-indent: 20px;">
                    [[#{lo.index.hdmuahang12}]]
                </p>
                <img alt="Hướng dẫn mua hàng" class="polis-img" th:src="@{/images/anh6.png}">
                <br>
                <br>
                <p style="text-align: justify; text-indent: 20px;"><strong style="color: rgb(249,80,48)">[[#{lo.index.buoc4}]] </strong> [[#{lo.index.hdmuahang13}]]</p>

                <p style="text-align: center; color: blue;">[[#{lo.index.hdmuahang14}]]</p>
                <p style="text-align: center; color: rgb(249,80,48);">[[#{lo.index.hdmuahang15}]]</p>
            </div>

        </div>
    </div>
</body>

</html>