<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="~{layout::dynamic(~{::title},~{::body})}">

<head>
    <title>[[#{lo.index.hdmuahang1}]] | ShopSale</title>
</head>

<body>
    <div class="col-xs-12 col-sm-8" style="margin: 0 auto;">
        <div class="shop-cs-mainbox policy-title" data-catecomment="20">
            <h3 class="shop-cs-maintitle">Hướng dẫn mua hàng</h3>
            <div class="policy-container">
                <p><strong class="orange">Kính chào quý khách hàng của FPT Shop!</strong></p>

                <div>
                    Chân thành cảm ơn quý khách đã tin tưởng và lựa chọn FPT Shop là điểm đến mua sắm.<br> Tuy nhiên, có một thắc mắc lớn nhất là “làm thế nào để mua sản phẩm mình ưa thích một cách nhanh chóng và tiện lợi nhất”?<br> Để giải đáp thắc mắc
                    này, chúng tôi xin gửi tới quý khách hình ảnh hướng dẫn các bước mua hàng như sau:
                </div>

                <p><strong class="orange">Bước 1: </strong>Tại giao diện trang chủ của FPT Shop (fptshop.com.vn)</p>

                <img alt="Hướng dẫn mua hàng" class="polis-img" src="/Content/images/hdmh2018/hdmh1.jpg">

                <p>
                    Quý khách gõ vào thanh tìm kiếm sản phẩm mà mình quan tâm. Ví dụ quý khách đang muốn mua sản phẩm iPhone X 64GB, sau khi gõ hệ thống sẽ truy xuất ra các sản phẩm liên quan tới từ khóa mà quý khách muốn tìm,
                </p>

                <img alt="Hướng dẫn mua hàng" class="polis-img" src="/Content/images/hdmh2018/hdmh2.jpg">

                <p>
                    <strong class="orange">Bước 2: </strong>Bây giờ bạn hãy click chọn sản phẩm mà quý khách muốn. Ví dụ quý khách chọn sản phẩm iPhone X 64GB, Sau khi click chọn sẽ hiện thị trang chi tiết sản phẩm như dưới.
                </p>

                <img alt="Hướng dẫn mua hàng" class="polis-img" src="/Content/images/hdmh2018/hdmh3.jpg">

                <p>Quý khách có thể xem các thông số thuộc tính cũng như bài viết đánh giá về sản phẩm ngay bên dưới.</p>
                <p>
                    <strong class="orange">Bước 3: </strong>Sau khi đã hài lòng với sản phẩm quý khách vui lòng click vào nút “MUA NGAY”. Sau đó quý khách có thể thấy được giỏ hàng của mình đang gồm những sản phẩm đã chọn mua.
                </p>

                <img alt="Hướng dẫn mua hàng" class="polis-img" src="/Content/images/hdmh2018/hdmh4.jpg">

                <p>
                    <strong class="orange">Bước 4: </strong> Tiến hành đặt hàng. Sau khi quý khách kiểm tra lại giỏ hàng và chọn “Tiến hành đặt hàng”. Quý khách sẽ thấy Form thông tin cần thiết để điền bao gồm: “Họ và tên”,”Số điện thoại”,”Email”. Trường
                    Email quý khách có thể bỏ qua nếu không muốn. Sau đó chọn “Tiếp Tục”
                </p>

                <img alt="Hướng dẫn mua hàng" class="polis-img" src="/Content/images/hdmh2018/hdmh5.jpg">

                <p><strong class="orange">Bước 5: </strong> Quý khách có thể lựa chọn 2 phương thức nhận hàng là nhận hàng tại cửa hàng FPT Shop hoặc giao hàng tận nơi miễn phí.</p>
                <p>Đối với phương thức nhận hàng tại cửa hàng FPT Shop, Quý khách chọn tỉnh, thành phố đang ở, sau đó chọn địa chỉ Shop gần nhất và chọn “Tiếp Tục”.</p>

                <img alt="Hướng dẫn mua hàng" class="polis-img" src="/Content/images/hdmh2018/hdmh6.jpg">

                <p>Đối với phương thức Giao hàng tận nơi, miễn phí, Quý khách chọn tỉnh, thành phố đang ở, Sau đó nhập tên Quận/Huyện và Địa chỉ nhà rõ ràng để FPT Shop có thể giao hàng đến tận tay một cách nhanh và chính xác nhất.
                </p>

                <img alt="Hướng dẫn mua hàng" class="polis-img" src="/Content/images/hdmh2018/hdmh7.jpg">
                <p><strong class="orange">Bước 6: </strong> Thanh Toán. Quý khách có thể lựa chọn hình thức thanh toán bằng tiền mặt khi nhận hàng, hoặc qua thẻ ATM và thẻ tín dụng hoặc theo chương trình bạn đồng hành FFriends. Nếu quý khách chọn hình thức
                    thanh toán tiền mặt khi nhận hàng. Vui lòng bấm nút "Đặt hàng" để hoàn tất.
                </p>

                <img alt="Hướng dẫn mua hàng" class="polis-img" src="/Content/images/hdmh2018/hdmh8.jpg">

                <p>Và quý khách đã hoàn tất việc đặt hàng, tư vấn viên của FPT Shop sẽ gọi điện để xác nhận đơn hàng của quý khách.
                </p>

                <img alt="Hướng dẫn mua hàng" class="polis-img" src="/Content/images/hdmh2018/hdmh9.jpg">

                <p>Chúc quý khách thành công và hài lòng với sản phẩm mà mình đã chọn.</p>
                <p>Trân trọng cảm ơn quý khách đã tin tưởng và lựa chọn các sản phẩm tại FPT Shop</p>
            </div>

        </div>
    </div>
</body>

</html>