<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="~{layout::dynamic(~{::title},~{::body})}">

<head>
    <title>[[#{lo.index.khuyenmai1}]] | ShopSale</title>


</head>

<body>
    <div class="thenoidung-khuyenmai">
        <div class="cumnoidung-1">
            <div class="thenoidungtrai">
                <div class="tieude1km">
                    <div class="anh-tieude1">
                        <img src="https://images.fpt.shop/unsafe/fit-in/490x326/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2021/8/9/637641323761238139_so-sanh-iphone-13-pro-max-va-iphone-12-pro-max-8.jpg" alt="">
                    </div>
                    <div class="noidunganh1">
                        <span>Tổng hợp iPhone 13: Hình ảnh, giá bán, ngày ra mắt chính thức</span>
                        <p><i style="color: #ccc;" class="fas fa-mail-bulk"></i>10 - 3 ngày trước.</p>
                    </div>
                </div>
                <div class="tieude2km">
                    <div class="noidungkmthu1">
                        <div class="anhtieude2">
                            <img src="https://images.fpt.shop/unsafe/fit-in/120x80/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2021/8/18/637649108677562704_xiaomi-redmi-10-ra-mat-cover.jpg" alt="">
                        </div>
                        <div class="noidungthe">
                            <div class="noidungkm2">
                                <span>Xiaomi Redmi 10 ra mắt với chipset Helio G88 ...</span>
                            </div>
                            <div class="thoigiankm2">
                                <p><i style="color: #ccc;" class="fas fa-mail-bulk"></i>2 - 4 ngày trước.</p>
                            </div>
                        </div>
                    </div>
                    <div class="noidungkmthu1">
                        <div class="anhtieude2">
                            <img src="https://images.fpt.shop/unsafe/fit-in/120x80/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2021/8/17/637648391792894542_msi-bravo-15-b5dd-fpt-1-tin-cover.jpg" alt="">
                        </div>
                        <div class="noidungthe">
                            <div class="noidungkm2">
                                <span>Top những laptop gaming tốt nhất năm 2021</span>
                            </div>
                            <div class="thoigiankm2">
                                <p><i style="color: #ccc;" class="fas fa-mail-bulk"></i>2 - 5 ngày trước.</p>
                            </div>
                        </div>
                    </div>
                    <div class="noidungkmthu1">
                        <div class="anhtieude2">
                            <img src="https://images.fpt.shop/unsafe/fit-in/120x80/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2021/8/12/637643963999583138_z-fold-flip-3-uudai-6.jpg" alt="">
                        </div>
                        <div class="noidungthe">
                            <div class="noidungkm2">
                                <span>Cách thức nhận ưu đãi giảm đến 6,4 triệu đồng khi ...</span>
                            </div>
                            <div class="thoigiankm2">
                                <p><i style="color: #ccc;" class="fas fa-mail-bulk"></i>8327 - 10 ngày trước.</p>
                            </div>
                        </div>
                    </div>
                    <div class="noidungkmthu1">
                        <div class="anhtieude2">
                            <img src="https://images.fpt.shop/unsafe/fit-in/120x80/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2021/8/12/637643633515922391_samsung-galaxy-z-flip-3-cover.jpg" alt="">
                        </div>
                        <div class="noidungthe">
                            <div class="noidungkm2">
                                <span>Trên tay Samsung Galaxy Z Flip3 5G: Nhỏ gọn, thời ...</span>
                            </div>
                            <div class="thoigiankm2">
                                <p><i style="color: #ccc;" class="fas fa-mail-bulk"></i>3 - 12 ngày trước.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thenoidungphai">
                <div class="thetnnoidungxemnhieu">
                    <span>Xem nhiều</span>
                </div>
                <hr>
                <div class="noidungxemnhieu">
                    <div class="noidungxem">
                        <p class="thu1">1</p>
                        <span>Tổng hợp iPhone 13: Hình ảnh, giá bán, ngày ra mắt chính thức</span>
                    </div>
                    <div class="noidungxem">
                        <p class="thu2">2</p>
                        <span>9 tính năng "bá đạo" và đẳng cấp có trên Samsung Galaxy</span>
                    </div>
                    <div class="noidungxem">
                        <p class="thun">3</p>
                        <span>Chiếc smartphone "hot": Khi công nghệ kết hợp với thời trang</span>
                    </div>
                    <div class="noidungxem">
                        <p class="thun">4</p>
                        <span>iPhone 13 có đáng để người dùng chờ đợi?</span>
                    </div>
                    <div class="noidungxem">
                        <p class="thun">5</p>
                        <span>Mời chiêm ngưỡng concept đẹp và chân thật nhất về iPhone 13</span>
                    </div>
                    <div class="noidungxem">
                        <p class="thun">6</p>
                        <span>Top những laptop gaming tốt nhất năm 2021</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="cumnoidung-2">
            <div class="thenoidungduoi">
                <div class="kmai1">
                    <div class="anh-kmai1">
                        <img src="https://images.fpt.shop/unsafe/fit-in/300x200/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2021/8/19/637650063152620584_me-before-you-truoc-ngay-em-den-2016.jpg" alt="">
                    </div>
                    <div class="noidung-kmai1">
                        <div class="title-kmai1">
                            <a href="#">App & Game</a>
                        </div>
                        <div class="tieude-kmai1">
                            <span>Top 10 bộ phim Âu Mỹ cảm động lấy đi nhiều nước mắt của khán giả (Phần 2)</span>
                        </div>
                        <div class="noidung1111">
                            <span>Những bộ phim về đề tài tình yêu, tình cảm gia đình luôn chiếm trọn cảm xúc và nước mắt của không chỉ bởi những khán giả yếu mềm mà còn những người mạnh mẽ. Hãy cùng điểm qua Top 10 bộ phim Âu Mỹ cảm động lấy đi nhiều nước mắt của khán giả trong bài viết sau nhé!</span>
                        </div>
                    </div>
                </div>
                <div class="thengancachkm"></div>
                <div class="kmai1">
                    <div class="anh-kmai1">
                        <img src="https://images.fpt.shop/unsafe/fit-in/300x200/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2021/8/22/637652568651765534_mi-11t-cau-hinh-cover.jpg" alt="">
                    </div>
                    <div class="noidung-kmai1">
                        <div class="title-kmai1">
                            <a href="#">Tin mới</a>
                        </div>
                        <div class="tieude-kmai1">
                            <span>Xiaomi Mi 11T và Mi 11T Pro lộ thông số kỹ thuật chi tiết trước khi ra mắt</span>
                        </div>
                        <div class="noidung1111">
                            <span>Theo nguồn tin ngày hôm nay, Xiaomi Mi 11T sẽ có màn hình 120Hz và được cung cấp sức mạnh đến từ con chip MediaTek Dimensity 1200. Ở mặt sau, điện thoại này có thiết lập camera được dẫn đầu bởi cảm biến chính 64 megapixel.</span>
                        </div>
                    </div>
                </div>
                <div class="thengancachkm"></div>
                <div class="kmai1">
                    <div class="anh-kmai1">
                        <img src="https://images.fpt.shop/unsafe/fit-in/300x200/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2021/8/22/637652533526716239_galaxy-z-fold3.jpg" alt="">
                    </div>
                    <div class="noidung-kmai1">
                        <div class="title-kmai1">
                            <a href="#">Tin mới</a>
                        </div>
                        <div class="tieude-kmai1">
                            <span>Đây là chi phí sửa chữa màn hình của Samsung Galaxy Z Fold3 5G và Galaxy Z Flip3 5G</span>
                        </div>
                        <div class="noidung1111">
                            <span>Mới đây, nguồn tin đến từ trang GSMArena vừa mang đến cho chúng ta một tốt và một tin xấu về chi phí sửa chữa của bộ đôi Galaxy Z Fold3 5G và Galaxy Z Flip3 5G. Tin tốt là chi phí các linh kiện của chúng đã rẻ hơn so với trước đây, nhưng tin xấu là chúng vẫn còn khá đắt đỏ.</span>
                        </div>
                    </div>
                </div>
                <div class="thengancachkm"></div>
                <div class="kmai1">
                    <div class="anh-kmai1">
                        <img src="https://images.fpt.shop/unsafe/fit-in/300x200/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2021/8/16/637647284850648709_em-la-dinh-menh-doi-anh-you-are-my-destiny-2020.jpg" alt="">
                    </div>
                    <div class="noidung-kmai1">
                        <div class="title-kmai1">
                            <a href="#">App & Game</a>
                        </div>
                        <div class="tieude-kmai1">
                            <span>Top 10 bộ phim ngôn tình hiện đại Trung Quốc đáng xem nhất (Phần 2)</span>
                        </div>
                        <div class="noidung1111">
                            <span>Là bộ phim được remake lại từ tác phẩm kinh điển cùng tên của Singapore, Chuyện Tình Cô Bé Lọ Lem 2020 nhận được nhiều cảm tình của khán giả mặc dù nội dung “bình cũ rượu mới”. Bộ phim xoay quanh hai giai đoạn về cuộc đời của mẹ con Cúc Hương.</span>
                        </div>
                    </div>
                </div>
                <div class="thengancachkm"></div>
                <div class="kmai1">
                    <div class="anh-kmai1">
                        <img src="https://images.fpt.shop/unsafe/fit-in/300x200/filters:quality(90):fill(white)/fptshop.com.vn/Uploads/Originals/2021/8/22/637652336107421549_sg-bd-thumb.jpg" alt="">
                    </div>
                    <div class="noidung-kmai1">
                        <div class="title-kmai1">
                            <a href="#">Tin Khuyễn mãi</a>
                        </div>
                        <div class="tieude-kmai1">
                            <span>FPT Shop giảm thêm 3% cho khách hàng tại TP. Hồ Chí Minh và Bình Dương</span>
                        </div>
                        <div class="noidung1111">
                            <span>Từ ngày 23/8 – 05/9/2021, FPT Shop đặc biệt giảm thêm 3% cho khách hàng tại TP. Hồ Chí Minh và một số khu vực thuộc tỉnh Bình Dương đi kèm với nhiều ưu đãi thiết thực khác.</span>
                        </div>
                    </div>
                </div>
                <div class="thengancachkm"></div>
            </div>
        </div>
    </div>
</body>

</html>