<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="~{layout::dynamic(~{::title},~{::body})}">

<head>
    <title>[[#{lo.index.tuyendungf}]] | ShopSale</title>
</head>

<body style="text-align: center; ">
    <br>
    <h3 style="color: blue;">THÔNG TIN TUYỂN DỤNG</h3>
    <br>
    <iframe width="990" height="555" src="https://www.youtube.com/embed/FgRvSq2kx_U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</body>

</html>